<a href="https://colab.research.google.com/github/PatrickAttankurugu/pandas/blob/main/notebooks/Series_At_A_Glance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
students=['Patrick','Attankurugu','Azuma','Young']
#But this is just a python list. To be able to get a pandas series of this list, let's pass the series aguement 
#as indicated in the cell below
print(students)

['Patrick', 'Attankurugu', 'Azuma', 'Young']

In [ ]:
pd.Series(students)
#Now we have our list as a pandas Series

0        Patrick
1    Attankurugu
2          Azuma
3          Young
dtype: object

A series is a one-dimensional sequence of values with associated labels

In [ ]:
ages=[20,30,2,58]
pd.Series(ages)

0    20
1    30
2     2
3    58
dtype: int64

In [ ]:
heights=[225.4,555.5,67.4,89.6]
pd.Series(heights)

0    225.4
1    555.5
2     67.4
3     89.6
dtype: float64

Unlike Numpy's np.arrays, Pandas pd.Series supports mixed data types

---

Numpy arrays are more efficient than python list. It's so because numpy stores homogenious data types whilst python list by nature is designed to store all kinds of data in the same list

In [ ]:
mixed=[True,'say',{'my_mood:100'}]

In [ ]:
pd.Series(mixed)
#Pandas did not complain, let's check for Numpy

0             True
1              say
2    {my_mood:100}
dtype: object

In [ ]:
np.array(mixed)

array([True, 'say', {'my_mood:100'}], dtype=object)

Parameters Vs Aguements
Parameters refers to the variables and aguements refers to the values that we pass to those variables. An example is indicated below.
pd.Series(data=students)

In [ ]:
booksList=['Think and Grow Rich','The Richest man in Babylon','The Obstacle is the Way']

In [ ]:
pd.Series(booksList)

0           Think and Grow Rich
1    The Richest man in Babylon
2       The Obstacle is the Way
dtype: object

In [ ]:
pd.Series(714)

0    714
dtype: int64

But we can get a bit more advanced and provide our own labels. let's do this

In [ ]:
pd.Series(data=booksList,index=['About finance','Also about finance','You have to break through'])
#in this code, we change the labels of th data

About finance                       Think and Grow Rich
Also about finance           The Richest man in Babylon
You have to break through       The Obstacle is the Way
dtype: object

But we can also drop the parameters and use only the arguments straight away

In [ ]:
pd.Series(booksList,['About finance','Also about finance','You have to break through'])

About finance                       Think and Grow Rich
Also about finance           The Richest man in Babylon
You have to break through       The Obstacle is the Way
dtype: object